$bg_primary: #dadfe1;
$text_primary: #222;

$ping: #26a65b;
$red: #c0392b;
$grey: #abb7b7;

body {
  background-color: $bg_primary;
  color: $text_primary;
  font-family: 'Open Sans', Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

header {
  width: 100%;
  text-align: center;
}

header img {
  margin: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: lighten($ping, 7%);

  li {
    display: inline-block;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 120%;

    &.active {
      color: white;
      background-color: lighten($ping, 3%);
    }

    &:not(.active):not(.menu-item):hover {
      background-color: darken($ping, 3%);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .root {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 601px) {
  .root {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 801px) {
  .root {
    width: 70%;
    margin-left: 15%;
  }
}

.content {
  width: 100%;
}

.section-title {
  color: $ping;
}

.sites-list, .users-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-element {
  border: 1px solid #bbb;
  margin-bottom: 0.5em;
  padding: 0.7em 0.6em 0.5em 0.6em;
  box-shadow: 0.1em 0.05em 0.25em 0 rgba(158,158,158,.81)
}

.site-element-title {
  font-size: 1.35em;
  font-weight: bold;
  color: #444;
  margin-bottom: 0.25em;
}

.site-element-title + .label {
  margin-left: 0.7em;
}

.site-element-description {
  margin-bottom: 0.35em;
}

.site-element-url {
  font-size: 0.8em;
}

.site-element-status-container {
  float: right;
}

.site-element-status-indicator {
  display: inline-block;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.status-ok {
  background-color: $ping;
}

.status-fail {
  background-color: $red;
}

.status-null {
  background-color: $grey;
}

.user-element {
  border-top: 1px solid #bbb;
  padding-top: 0.7em;
  padding-bottom: 0.3em;
}

.listeners-container {
  margin-top: 0.4em;
}

.site-listener {
  margin: 0.3em 0.5em;
}

.login-username {
  background-color: darken($ping, 10%);
}

.modal-title {
  font-weight: bold;
  font-size: 2rem !important;
}

.modal-footer button {
  margin: 0.2em 0.6em;
}

.toast-container {
  position: absolute;
  bottom: 3em;
  width: 50%;
  left: 0;
  margin-left: 25%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

[v-cloak] {
  display: none;
}